
html {
    scroll-behavior: smooth;
  }
  body{
     background-image: url('picture/background.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
  }
.div-1-about{
    padding: 10%;
    height:600px;
    display: flex;
}
.div-11-about,
.div-14-about {
  padding: 10%;
  padding-right: 0%;
  padding-top:10%;
  height:100%;
  top: 0px;
  left: -250px; 
  width: 100%;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 23, 23);
  pointer-events: none;
  opacity: 0; 
  transition: left 0.5s ease, opacity 0.5s ease;
}

.div-11-about.active,
.div-14-about.active {
  left: 0px;
  opacity: 1;
  pointer-events: none; 
}

.div-2-about{
    display:flex;
    align-items: center;
    justify-content: center ;
    flex-direction: row;
    padding-right:0px;
}

.div-3-button{
    display: flex;
    flex-direction: row;
    gap:3px;
}

.bg-image {
  height:40vw;
  }
  
  .bg-1-image {
    height:25vw;
    margin-right: 2vw;
  }
  
.div-5-about{
    background-image: url('picture/background.png');
    height:50vw;
}
.div-6-about{
    display:flex;
    flex-direction: row;
}
  .p-11{
        padding-right:2vw;
      }
@media (max-width: 600px) {
    .div-2-about{
        display:flex;
        align-items: center;
        justify-content: center ;
        flex-direction: column;
        gap:10px;
    }
    .bg-image {
        width: 70vw;
        height: 70vw;
      }
      .bg-1-image {
        width: 49vw;
        height: 50vw;
      }
      h2{
        display: flex;
        align-items:center;
        justify-content: center;
      }
      .p-11{
        padding-right:2vw;
      }
}