
html {
    scroll-behavior: smooth;
  }
  body{
     background-image: url('picture/background.png');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
  }
.div-1-about{
    padding: 10%;
    height:600px;
    display: flex;
}
.div-11-about{
    padding: 10%;
    height:400px;
    display: flex;
}
.div-14-about{
    padding: 10%;
    padding-left:40vw;
    padding-right: 1vw;
    height:400px;
    display: flex;
}
.div-2-about{
    display:flex;
    align-items: center;
    justify-content: center ;
    flex-direction: row;
    padding-right:0px;
}

.div-3-button{
    display: flex;
    flex-direction: row;
    gap:3px;
}

.bg-image {
    position: absolute;
    top: 100%;
    left: 90%;
    width: 52vw;
    height: 40vw;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
  }
  
  .bg-1-image {
    position: absolute;
    top: 210%;
    left: 30%;
    width: 90vw;
    height: 40vw;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
  }
  
.div-5-about{
    background-image: url('picture/background.png');
    height:50vw;
}
.div-6-about{
    display:flex;
    flex-direction: row;
}
  .p-11{
        padding-right:2vw;
      }
@media (max-width: 600px) {
    .div-2-about{
        display:flex;
        align-items: center;
        justify-content: center ;
        flex-direction: column;
        gap:10px;
    }
    .bg-image {
        width: 70vw;
        height: 70vw;
      }
      .bg-1-image {
        width: 79vw;
        height: 70vw;
      }
      h2{
        display: flex;
        align-items:center;
        justify-content: center;
      }
      .p-11{
        padding-right:2vw;
      }
}